<%= render "shared/header" %>

<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title" style="color: black;">
        スタイル詳細
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= attachment_image_tag @mantweet, :image %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-5"><%= @mantweet.title %></p>
              </div>
            </div>
            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>説明</th>
                </tr>
                <tr>
                  <td><%= simple_format @mantweet.body %></td>
                </tr>
              </table>
              <% if @mantweet.user.id == current_user.id %>
                <%= link_to "編集", edit_mantweet_path(@mantweet), class: "button is-success" %>
                <%= link_to "削除", mantweet_path(@mantweet), method: :delete, class: "button is-success" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <article class="panel is-link">
          <p class="panel-heading">
          <%= @mantweet.user.nickname %>
          </p>
          <div class="panel-block">
            <p class="control">
              <%= @mantweet.user.profile %>
            </p>
          </div>
          <%= link_to user_path(@mantweet.user), class: "panel-block" do %>
            <span class="panel-icon">
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            <%= @mantweet.user.nickname %> さんのページへ
          <% end %>
        </article>
      </div>
    </div>
  </div>
</section>

<div class="favorite">
<% if current_user.already_favorited?(@mantweet) %>
            <%= link_to mantweet_favorites_path(@mantweet), method: :delete do %>
              <i class="fas fa-heart heart_red">
              <%= @mantweet.favorites.count %></i>
            <% end %>
            
          <% else %>
            <%= link_to mantweet_favorites_path(@mantweet), method: :post do %>
              <i class="far fa-heart">
              <%= @mantweet.favorites.count %></i>
            <% end %>
            
          <% end %>

<div class="comment-wrapper border-top mb-10">
  <p class="mt-5">コメント一覧</p>
  <% @comments.each do |c| %>
    <div class="mt">
      <% unless c.user.blank? %>
      <figure class="image is-48x48">
        <%= attachment_image_tag c.mantweet.user, :profile_image, fallback: "no-image.png", class: "profile_image" %>
      </figure>
        <a href="<%= user_path(c.user_id) %>">
          <div class="mt-3" style="color: #333;">
            <%= c.user.nickname unless c.user.blank? %>
          </div>
        </a>
            <% end %>
      <br />
      <a href="<%= mantweet_comment_path(:id) %>"></a>
        <div class="mt-4">
          <%= c.text %>
        </div>
    </div>
    <br />
  <% end %>
  <% if user_signed_in? %>
    <%= form_with(model: [@mantweet, @comment], local: true) do |f| %>
      <%= f.text_area :text, class: "form-control", rows: 5 %>
      <%= button_tag type: "submit", class: "btnbtn-successfloat-rightmt-1" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>
</div>      