<%= render "shared/header" %>

<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @mantweet.name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @mantweet.image ,class:"item-box-img" %>
    </div>  
  </div> 

  <div class="iine">
  </div>

  <% if user_signed_in? && current_user.id == @mantweet.user_id %>
  <div class="show-btn">
    <%= link_to '編集', edit_post_mantweet_path, method: :get, class: "item-red-btn" %>
    <%= link_to '削除', "#", method: :delete, class:'item-destroy' %>
  </div>
  <% end %>
</div>      