<%= render "shared/header" %>

<div class="mt-edit">
<div class="mt">
      <% unless @comments.user.blank? %>
      <figure class="image is-48x48">
        <%= attachment_image_tag @comments.mantweet.user, :profile_image, fallback: "no-image.png", class: "profile_image" %>
      </figure>
        <a href="<%= user_path(@comments.user_id) %>">
          <div class="mt-3" style="color: #333;">
            <%= @comments.user.nickname unless @comments.user.blank? %>
          </div>
        </a>
            <% end %>
      <br />
      <a href="<%= mantweet_comment_path(:id) %>">
        <div class="mt-4" style="color: #333;">
          <%= @comments.text %>
        </div>
      </a>
    </div>
    <br />
</div>

      <%= form_for @comment do |f| %>
      <%= f.text_area :text, class: "form-control", rows: 5 %>
      <%= button_tag type: "submit", class: "btnbtn-successfloat-rightmt-1" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>