<%= render "shared/header" %>

<div class="comments-text">
  <strong><%= link_to @comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
  <strong><%= link_to @comment.text, "/mantweets/:mantweet_id/comments/:id#{comment.id}" %></strong>
</div>

<% if user_signed_in? && current_user.id == @mantweet.user_id %>
  <div class="show-btn">
    <%= link_to '編集', edit_mantweet_path , method: :get, class: "item-red-btn" %>
    <%= link_to '削除', "#", method: :delete, class:'item-destroy' %>
  </div>
  <% end %>