<header class='top-page-header'>
<div class="image">
  <%= image_tag("makeup.png", class:"make-icon") %>
  <%= image_tag("hasamib500426.png", class:"hasami-icon") %> 
</div>

<%= link_to root_path do %>
<div class="top-header">
  <h1 class="title">Beauty-Sharing</h1>
</div>
<% end %>

<div class="image2">
    <%= image_tag("hasamib500426.png", class:"hasami-icon") %>
    <%= image_tag("makeup.png", class:"make-icon") %>
    </div>

</header>