<!DOCTYPE html>
<html>
  <head>
    <title>BeautySharing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag"https://fonts.googleapis.com/css?family=Londrina+Shadow" %>
    <%= stylesheet_link_tag"https://fonts.googleapis.com/css?family=Londrina+Shadow" %>
    <%= stylesheet_link_tag"https://fonts.googleapis.com/css?family=Oswald:700" %>
    <%= stylesheet_link_tag"//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
